body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
}
button {
    background-color: #00475f;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #00475f;
}
